@font-face {
    font-family: "eras-bold-itc";
    src: url("/font/eras-bold-itc.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .contour-shadow {
        box-shadow: rgb(0, 0, 0, 0.3) 0 0px 12px 5px;
    }

    .bg-ostrabot-banner {
        background-image: url("/img/ostrabot-banner-light.png");
    }

    .bg-ostrabot-banner-dark {
        background-image: url("/img/ostrabot-banner.png");
    }

    @variants dark {
        .contour-dark-shadow {
            box-shadow: rgb(0, 0, 0, 0.8) 0 0px 12px 5px;
        }

        .bg-ostrabot-banner {
            background-image: url("/img/ostrabot-banner-light.png");
        }

        .bg-ostrabot-banner-dark {
            background-image: url("/img/ostrabot-banner.png");
        }
    }
}

a {
    @apply text-ostracraft;
    @apply transition;
}

a:hover {
    @apply text-white;
    @apply underline;
    @apply transition;
}

.toggle-theme {
    @apply absolute;
    @apply cursor-pointer;
    @apply text-white;
    bottom: 20px;
    right: 25px;
}

.login-link {
    @apply text-white;
    @apply bg-discord;
    @apply py-2;
    @apply px-16;
    @apply rounded-md;
    @apply inline-block;
    @apply transition;
}

.login-link:hover {
    @apply no-underline;
    @apply transition;
    @apply bg-discord-darker;
}