{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block head %}
    <link rel="icon" href="favicon.ico">
    <meta name="theme-color" content="#20b848">

    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/coreui-chartjs.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <style>
        .c-sidebar-nav .fas,
        .c-sidebar-nav .fab {
            font-size: 2em;
            margin-right: 0.5em;
        }
    </style>
{% endblock %}

{% block bodyClasses %}c-app{% endblock %}
{% block body %}
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
        <div class="c-sidebar-brand">
            <img src="/img/ostrabot-banner-light.png" alt="Banner" class="c-sidebar-brand-full"
                 style="max-width: 80%; height: auto;">
            <img src="/favicon.ico" alt="Banner" class="c-sidebar-brand-minimized"
                 style="max-width: 80%; height: auto;">
        </div>
        <ul class="c-sidebar-nav">
            <li class="c-sidebar-nav-title">Dashboard</li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="index.html">
                    <i class="fas fa-home"></i> Main</a>
            </li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <i class="fab fa-accusoft"></i> Dropdown</a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"><span
                                    class="c-sidebar-nav-icon"></span>
                            Item 1</a>
                    </li>
                    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#"><span
                                    class="c-sidebar-nav-icon"></span>
                            Item 2</a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="#">
                    <i class="fas fa-cogs"></i> Item</a>
            </li>
        </ul>
        <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent"
                data-class="c-sidebar-minimized"></button>
    </div>
    <div class="c-wrapper c-fixed-components">
        <header class="c-header c-header-light c-header-fixed c-header-with-subheader">
            <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar"
                    data-class="c-sidebar-lg-show" responsive="true">
                <i class="fas fa-bars"></i>
            </button>
            <ul class="c-header-nav ml-auto mr-4">
                <li class="c-header-nav-item d-md-down-none mx-2">
                    <a class="c-header-nav-link" href="#">
                        <svg class="c-icon">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-bell"></use>
                        </svg>
                    </a>
                </li>
                <li class="c-header-nav-item d-md-down-none mx-2">
                    <a class="c-header-nav-link" href="#">
                        <svg class="c-icon">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-list-rich"></use>
                        </svg>
                    </a>
                </li>
                <li class="c-header-nav-item d-md-down-none mx-2">
                    <a class="c-header-nav-link" href="#">
                        <svg class="c-icon">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-envelope-open"></use>
                        </svg>
                    </a>
                </li>
                <li class="c-header-nav-item dropdown">
                    <a class="c-header-nav-link" data-toggle="dropdown" href="#"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="c-avatar"><img class="c-avatar-img" src="{{ app.user.getAvatarUrl() }}"
                                                   alt="User's avatar"></div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right pt-0">
                        <div class="dropdown-header bg-light py-2">
                            <strong>Settings</strong>
                        </div>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-user-alt mr-2"></i> Profile
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="fas fa-cogs mr-2"></i> Settings
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ logoutLink }}">
                            <i class="fas fa-door-open mr-2"></i> Logout
                        </a>
                    </div>
                </li>
            </ul>
        </header>
        <div class="c-body">
            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-4">
                                <div class="card text-white bg-primary">
                                    <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                                        <div>
                                            <div class="text-value-lg">28</div>
                                            <div>Members online</div>
                                        </div>
                                    </div>
                                    <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                                        <canvas class="chart" id="card-chart1" height="70"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card text-white bg-info">
                                    <div class="card-body card-body pb-0 d-flex justify-content-between align-items-start">
                                        <div>
                                            <div class="text-value-lg">3 days 2 hours</div>
                                            <div>Uptime</div>
                                        </div>
                                    </div>
                                    <div class="c-chart-wrapper mt-3 mx-3" style="height:70px;">
                                        <canvas class="chart" id="card-chart2" height="70"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="c-footer">
                <div><a href="/">OstraBot</a> © 2021 <a href="https://ostracraft.jimdofree.com" target="_blank">OstraCraft</a>
                </div>
                <div class="ml-auto">Template by <a href="https://coreui.io/">CoreUI</a></div>
            </footer>
        </div>
    </div>
    <!-- CoreUI and necessary plugins-->
    <script src="/js/coreui.bundle.min.js"></script>
    <!-- Plugins and scripts required by this view-->
    <script src="/js/coreui-chartjs.bundle.js"></script>
    <script src="/js/coreui-utils.js"></script>
    <script src="/js/main.js"></script>
{% endblock body %}